@model YouTubeVM

<div class="text-center">
    <h1 class="display-4">YouTube Downloader</h1>
    <div class="card shadow border-0 my-4">
        <form method="post" class="row">

            <div class="form-floating py-2 col-12">
                <input asp-for="URL" class="form-control border-0 shadow" />
                <label asp-for="URL" class="ms-2"></label>
                @* <span asp-validation-for="URL" class="text-danger"></span> *@
            </div>

            <div class="form-floating py-2 col-12">
                <select asp-for="MediaType"  class="form-select border-0 shadow">
                    <option selected value="video">Video</option>
                    <option value="audio">Audio</option>
                </select>
                <label asp-for="MediaType" class="ms-2"></label>
                @* <span asp-validation-for="MediaType" class="text-danger"></span> *@
            </div>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Get Data</button>
                </div>
            </div>

            @if (Model != null && Model.Options != null && Model.Options.Any())
            {

                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow" disabled/>
                    <label asp-for="Title" class="ms-2"></label>
                    @* <span asp-validation-for="URL" class="text-danger"></span> *@
                </div>

                <div class="form-floating  col-12">
                    <select asp-for="Options" asp-items="@Model.Options" class="form-select border-0 shadow">
                        <option value="@Model.Options.First().Value" selected>@Model.Options.First().Text</option>
                        @foreach (var option in Model.Options.Skip(1))
                        {
                            <option value="@option.Value">@option.Text</option>
                        }
                    </select>
                <label asp-for="Options" class="ms-2"></label>
                <span asp-validation-for="Options" class="text-danger"></span>
                </div>
            }
        
    </form>
        @if (ViewBag.DataError != null)
        {
            <p>@ViewBag.DataError</p>
        }
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}